<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout.html::areas(~{::title},~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col">
    <aside class="col-sm-2">
        <div th:replace="/layout/aside.html"></div>
    </aside>
    <div class="car col-sm-8">
        <div class="row justify-content-center">
            <th:block th:each="p : ${page.content}">
                <div class="col-sm-3" style="margin-bottom: 20px">
                    <div class="card h-100">
                        <img th:src="@{'/image/' + ${p.image}}" class="product-image"
                             style="width: 277px;height: 277px"/>
                        <div class="card-body" style="margin-bottom: 20px">
                            <div class="text-center">
                                <span class="product-name"
                                      style="font-size: 16px;font-weight: bold;">[[${p.name}]]</span>
                            </div>
                            <div class="text-center">
                                <span class="price"
                                      style="font-size: 20px;font-weight: bold;color: red">[[${p.price}]] ₫</span>
                            </div>
                        </div>
                        <div class="card-footer p-8 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-secondary" th:href="@{'/detail/' + ${p.id}}">
                                    <i class="bi bi-eye-fill"></i>
                                </a>
                                <a class="btn btn-outline-secondary">
                                    <i class="bi bi-cart-check-fill"></i>
                                </a>
                                <a class="btn btn-outline-secondary">
                                    <i class="bi bi-heart-fill"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
        <ul class="nav justify-content-center" style="margin-top: 20px">
            <li class="nav-item">
                <a class="nav-link"  th:href="@{'/home?page=' + 0 + '&id=' + ${id.get()}}">First</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/home?page=' + ${page.number - 1} + '&id=' + ${id.get()}}">Previous</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/home?page=' + ${page.number +1} + '&id=' + ${id.get()}}">Next</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/home?page=' + ${page.totalPages - 1} + '&id=' + ${id.get()}}">Last</a>
            </li>
        </ul>
    </div>
</div>




<aside class="col-sm-2">
    <div th:replace="/layout/aside.html"></div>
</aside>
</body>
</html>