<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="bd-footer py-5 mt-5 bg-light text-muted">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3 mb-3">
                <div class="list-unstyled">
                    <h5 class="footer-H3">THỜI GIAN MỞ CỬA</h5>
                    <p>Thứ Hai - Thứ Sáu .... 8,00 đến 18:00<br>Thứ Bảy ............ 9.00 đến 21.00<br>Chủ nhật
                        ............ 10:00 đến 21:00</p>
                </div>
            </div>
            <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                <h5 class="footer-H3">MENU</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="text-muted" href="#!">Trang chủ</a></li>
                    <li class="mb-2"><a class="text-muted" href="#!">Giới thiệu</a></li>
                    <li class="mb-2"><a class="text-muted" href="#!">Phản hồi</a></li>
                    <li class="mb-2"><a class="text-muted" href="#!">Hỏi đáp</a></li>
                    <li class="mb-2"><a class="text-muted" href="#!">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5 class="footer-H3">DANH MỤC</h5>
                <ul class="list-unstyled text-muted">
                    <li class="mb-2"><a class="text-muted" href="#!">IPhone</a></li>
                    <li class="mb-2"><a class="text-muted" href="#!">Ipad</a></li>
                    <li class="mb-2"><a class="text-muted" href="#!">Mac</a></li>
                    <li class="mb-2"><a class="text-muted" href="#!">AirPods</a></li>
                    <li class="mb-2"><a class="text-muted" href="#!">Sản phẩm khác</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-4 mb-3">
                <div class="col-inner">
                    <h5 class="footer-H3">ĐĂNG KÝ</h5>
                    <p>Đăng ký để nhận được được thông tin mới nhất từ chúng tôi.</p>
                </div>
                <div class="form-inline">
                    <input type="email" class="form-control" placeholder="Email...">
                    <button type="submit" class="btn btn-primary">Đăng ký</button>
                </div>
                <br>
                <div>
                    <a href=""><img th:src="@{/image/facebook.png}" alt=""></a>
                    <a href=""><img th:src="@{/image/insta.png}" alt=""></a>
                    <a href=""><img th:src="@{/image/twitte.png}" alt=""></a>
                    <a href=""><img th:src="@{/image/mail.png}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>